:root { 
--white_A700_7f:#ffffff7f; 
--gray_900_02:#28262c; 
--white_A700_e5:#ffffffe5; 
--gray_900_03:#1e1e1e; 
--black_900_e5:#000000e5; 
--white_A700_7e:#ffffff7e; 
--blue_gray_100_cc:#d9d9d9cc; 
--white_A700_d8:#ffffffd8; 
--blue_gray_300:#9ca4ab; 
--gray_900:#111111; 
--gray_900_01:#262626; 
--gray_50:#f9f9f9; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--black_900_01:#000000; 
--black_900_00:#0d0c0f00; 
--black_900:#0d0c0f; 
--white_A700_19:#ffffff19; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}